*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
}

.head{
    margin:0.5rem;
    text-align: center;
    font-weight: bold;
}

.content {
    margin: 10px;
}

.content .audioContent{
    align-items: center;
    margin: 5px;
    border-radius: 20px;
    background-color: beige;
    padding: 20px;
}

.content .audioContent .box .info{
    display: flex;
    margin-right: 5px;
}

.content .audioContent .box{
    align-items: center;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin: 1rem;
}

.content .audioContent .box audio{
    width: 100%;
    outline: none; 
    border-radius: 0.5rem;
}

footer{
    margin-top: auto;
    background-color: #DC143C;
    border-radius: 20px 20px 0rem 0rem;
    padding: 1rem;
    text-align: center;
    color: white;
    width: 100%;
}

.content .audioContent .box audio::-webkit-media-controls-panel {
    background-color: #FFA07A;  
  }

@media(max-width:600px) {
    body{
        font-size: larger;
    }
    .content .audioContent{
        flex-flow: column;
    }
    .content .carte {
        width: 100%;
    }
}